PORT=4000

# Hosted services
DATABASE_URL=postgresql://postgres:YOUR_SUPABASE_DB_PASSWORD@db.enlskmftohcnrcpdxmyw.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres.enlskmftohcnrcpdxmyw:YOUR_SUPABASE_DB_PASSWORD@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
REDIS_URL=rediss://default:YOUR_UPSTASH_PASSWORD@assuring-sturgeon-73560.upstash.io:6379

# JWT
JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

# Supabase Storage
SUPABASE_URL=https://enlskmftohcnrcpdxmyw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SECRET_KEY
SUPABASE_STORAGE_BUCKET=profile-images

APP_BASE_URL=http://localhost:4000
